.about {
  padding: 1rem 3rem;
  margin-bottom: 5rem;
}

/* ============description ============ */

.about .description {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 6rem;
}

.about .description .left {
  flex: 1;
  color: var(--font-clr);
  font-family: var(--font-sans);
  padding: 0rem;
}

.description .left p {
  color: var(--text-clr);
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

.description .left p span {
  color: var(--font-clr);
  font-size: 1.1rem;
}

.description .left p a {
  color: var(--second-clr);
  font-size: 1.1rem;
  text-decoration: none;
}

.about .description .right {
  flex: 1;
}

.right .image {
  width: 30rem;
  height: 35rem;
  position: relative;
}

.right .image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 2rem;
  bottom: 1.5rem;
  background-color: #09182e;
  border: 1px solid var(--second-clr);
  z-index: -1;
  border-radius: 1rem;
}

.about .right img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* ==========media queries================== */

@media screen and (max-width: 1300px) {
  .about {
    padding: 1rem 2rem;
  }

  .about .description {
    gap: 2rem;
  }
}
@media screen and (max-width: 1100px) {
  .about {
    height: auto;
  }
  .about .description {
    flex-direction: column-reverse;
  }

  .description .right {
    margin-bottom: 2rem;
  }

  .description .left p {
    padding-right: 3rem;
  }
}
@media screen and (max-width: 850px) {
  .about {
    padding: 1rem;
  }
  .description .left p {
    padding-right: 2rem;
  }
  .about .description .right {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .about .right .image {
    width: 22rem;
    height: 27rem;
  }

  .right .image::after {
    left: 1.5rem;
    bottom: 1rem;
  }

  .about .description .left {
    padding-left: 0;
  }

  .description .left p {
    font-size: 0.9rem;
    padding-right: 1.5rem;
  }

  .description .left p span {
    font-size: 1rem;
  }

  .description .left p a {
    font-size: 1rem;
  }

  .about .choice {
    padding: 0rem;
  }
}

@media screen and (max-width: 450px) {
  .about .description {
    margin-top: 2rem;
  }

  .about .right {
    margin-bottom: 1rem;
  }

  .about .right .image {
    width: 18rem;
    height: 22rem;
  }

  .right .image::after {
    display: none;
  }

  .description .left p,
  .about .choice p {
    font-size: 0.8rem;
    padding-right: 0rem;
  }
  .description .left p span {
    font-size: 0.9rem;
  }

  .description .left p a {
    font-size: 0.9rem;
  }
}
